@charset "UTF-8";
@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Kaushan_Script";
  src: url(../fonts/Kaushan_Script/KaushanScript-Regular.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
  font-size: calc((1vw + 1vh) * 0.64);
}

.footer-h6, .latest-blog-1 .blog-box .watch-comment h6, .latest-blog-1 .blog-box .blog .latest-image .latest-data, .latest-blog-1 .blog-box, .some-work-section .some-work .work-1 .hover-work, .some-work-section .some-work .work-2 .hover-work, .some-work-section .some-work .work-3 .hover-work, .some-work-section .some-work .work-4 .hover-work, .some-work-section .some-work .work-5 .hover-work, .some-work-section .some-work .work-6 .hover-work, .some-work-section .some-work .work-7 .hover-work, .our-team-section .team-box .our-team-1 .hover-links .facebook-icon, .our-team-section .team-box .our-team-1 .hover-links .twitter-icon, .our-team-section .team-box .our-team-1 .hover-links .pinterest-icon, .our-team-section .team-box .our-team-1 .hover-links .instagram-icon, .our-team-section .team-box .our-team-2 .hover-links .facebook-icon, .our-team-section .team-box .our-team-2 .hover-links .twitter-icon, .our-team-section .team-box .our-team-2 .hover-links .pinterest-icon, .our-team-section .team-box .our-team-2 .hover-links .instagram-icon, .our-team-section .team-box .our-team-3 .hover-links .facebook-icon, .our-team-section .team-box .our-team-3 .hover-links .twitter-icon, .our-team-section .team-box .our-team-3 .hover-links .pinterest-icon, .our-team-section .team-box .our-team-3 .hover-links .instagram-icon, .our-team-section .team-box .our-team-1 .hover-links, .our-team-section .team-box .our-team-2 .hover-links, .our-team-section .team-box .our-team-3 .hover-links, .our-team-section .team-box, .service-section .service-box .acor-container .acor1-1 label, .number-section .number, .story-section .story-container, .banner .banner-slider .slider-1, .banner .banner-slider .slider-2, .banner .banner-slider .slider-3, .banner .banner-slider .slider-4, .banner .banner-slider, .banner .banner-content, .header_navbar .navbar .header_menu .header_list .header_link, .header_navbar .navbar .header_menu .header_list li, .header_navbar .navbar .header_menu .header_list, .header_navbar .navbar .navbar_menu a, .navbar, .banner, .story-section, .number-section, .worck-service-section, .unique-section, .service-section, .our-team-section, .partner-section, .some-work-head, .clients-section, .latest-blog-1, .latest-blog-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 7px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: #F5F5F5;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #95E1D3;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #F38281;
}

h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 9rem;
  line-height: 10rem;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 575.98px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-family: "Kaushan_Script";
  font-weight: 400;
  font-size: 1.875rem;
  text-align: center;
  margin-top: 10vh;
}
@media (max-width: 767px) {
  h2 {
    font-size: 4rem;
  }
}

h3 {
  font-weight: 900;
  font-size: 2.15rem;
  text-transform: uppercase;
  margin-top: 4.5vh;
}
@media (max-width: 767px) {
  h3 {
    font-size: 4.3rem;
  }
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  h4 {
    font-size: 2.1rem;
  }
}

h5 {
  font-weight: 400;
  font-size: 1.155rem;
  text-align: center;
}
@media (max-width: 575.98px) {
  h5 {
    font-size: 2.1rem;
  }
}

h6 {
  font-size: 1rem;
  font-weight: 400;
}
@media (max-width: 767.98px) {
  h6 {
    font-size: 1.5rem;
  }
}

ul, li {
  list-style: none;
}

.red-line {
  max-width: 170px;
  width: 15%;
  border-top: 4px solid #F38281;
  margin: 4.5vh 0;
}
@media (max-width: 767px) {
  .red-line {
    width: 45%;
  }
}

.navbar, .banner, .story-section, .number-section, .worck-service-section, .unique-section, .service-section, .our-team-section, .partner-section, .some-work-head, .clients-section, .latest-blog-1, .latest-blog-2 {
  padding: 0 11%;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .navbar, .banner, .story-section, .number-section, .worck-service-section, .unique-section, .service-section, .our-team-section, .partner-section, .some-work-head, .clients-section, .latest-blog-1, .latest-blog-2 {
    padding: 0 2%;
  }
}
@media (max-width: 767.98px) {
  .navbar, .banner, .story-section, .number-section, .worck-service-section, .unique-section, .service-section, .our-team-section, .partner-section, .some-work-head, .clients-section, .latest-blog-1, .latest-blog-2 {
    padding: 0 5%;
  }
}

.header_navbar {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
.header_navbar .navbar {
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(225, 135, 131, 0.9);
  max-height: 100px;
  height: 10vh;
  position: relative;
}
.header_navbar .navbar .logo {
  width: 6.5vw;
}
@media (max-width: 1024px) {
  .header_navbar .navbar .logo {
    width: 10vw;
  }
}
@media (max-width: 767.98px) {
  .header_navbar .navbar .logo {
    width: 17vw;
  }
}
.header_navbar .navbar .navbar_menu {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
@media (max-width: 1024px) {
  .header_navbar .navbar .navbar_menu {
    margin-right: 2%;
    width: 50%;
  }
}
@media (max-width: 767px) {
  .header_navbar .navbar .navbar_menu {
    display: none;
  }
}
.header_navbar .navbar .navbar_menu img:hover {
  cursor: pointer;
}
.header_navbar .navbar .navbar_menu a {
  text-decoration: none;
  max-height: 100px;
  height: 10vh;
  width: 15%;
  text-align: center;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 0.91rem;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  position: relative;
}
@media (max-width: 1024px) {
  .header_navbar .navbar .navbar_menu a {
    font-size: 1.2rem;
  }
}
.header_navbar .navbar .navbar_menu a::before {
  content: "";
  position: absolute;
  top: 63%;
  max-width: 85px;
  width: 100%;
  height: 2px;
  background-color: #F4BF87;
  transform-origin: right;
  transform: scale(0);
  transition: transform 0.5s;
}
.header_navbar .navbar .navbar_menu a:hover::before {
  transform-origin: left;
  transform: scale(1);
}
.header_navbar .navbar .navbar_menu a:hover {
  color: #F4BF87;
}
.header_navbar .navbar .burger-btn {
  display: flex;
  position: absolute;
  top: 0;
  right: 5%;
  width: 10vw;
  height: 10vh;
}
@media (max-width: 575.98px) {
  .header_navbar .navbar .burger-btn {
    right: 10%;
  }
}
.header_navbar .navbar .burger-btn:hover {
  cursor: pointer;
}
.header_navbar .navbar .burger-btn.active span:nth-of-type(1) {
  display: none;
}
.header_navbar .navbar .burger-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 8px) rotate(45deg);
}
.header_navbar .navbar .burger-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, -8px) rotate(-45deg);
}
.header_navbar .navbar .burger-btn .menu-btn {
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header_navbar .navbar .burger-btn .menu-btn span {
  width: 24px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  transition: all 0.5s;
}
.header_navbar .navbar .burger-btn .menu-btn span:nth-of-type(2) {
  top: calc(50% - 8px);
}
.header_navbar .navbar .burger-btn .menu-btn span:nth-of-type(3) {
  top: calc(50% + 8px);
}
@media (min-width: 767.98px) {
  .header_navbar .navbar .burger-btn {
    display: none;
  }
}
.header_navbar .navbar .header_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10vh 6%;
  background: linear-gradient(360deg, rgba(237, 215, 137, 0.9), rgba(233, 130, 131, 0.9)), url(../img/eagle.svg);
  background-size: cover;
  background-position: center;
  transform: translateY(-100%);
  transition: transform 0.5s;
}
.header_navbar .navbar .header_menu .logo {
  position: absolute;
  top: 3vh;
  width: 17vw;
}
.header_navbar .navbar .header_menu .header_list {
  flex-direction: column;
}
.header_navbar .navbar .header_menu .header_list li {
  margin-top: 4%;
  height: 10vh;
  width: 100%;
  position: relative;
}
.header_navbar .navbar .header_menu .header_list li::before {
  content: "";
  position: absolute;
  bottom: 25%;
  left: calc(50% - 10vw);
  width: 20vw;
  height: 2px;
  background-color: #F4BF87;
  transform-origin: right;
  transform: scale(0);
  transition: transform 0.5s;
}
.header_navbar .navbar .header_menu .header_list li:hover::before {
  transform-origin: left;
  transform: scale(1);
}
.header_navbar .navbar .header_menu .header_list .header_link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: calc((1vh + 1vw) * 1.4);
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
}
.header_navbar .navbar .header_menu .header_list .header_link:hover {
  cursor: pointer;
  color: #F4BF87;
}
.header_navbar .navbar .header_menu.active {
  transform: translateY(0);
}

.banner {
  height: 100vh;
  width: 100%;
  color: #FFFFFF;
  position: relative;
}
.banner::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-image: linear-gradient(360deg, rgba(237, 215, 137, 0.9), rgba(233, 130, 131, 0.9)), url(../img/eagle.svg);
  background-size: cover;
  background-position: center;
}
.banner h2 {
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 2%;
}
@media (max-width: 767.98px) {
  .banner h2 {
    margin-bottom: 10%;
    font-size: 7rem;
  }
}
.banner h3 {
  font-weight: 700;
  margin-top: 0;
}
.banner .banner-content {
  flex-direction: column;
}
.banner .white-line {
  max-width: 170px;
  width: 15%;
  border-top: 4px solid #FFFFFF;
  margin-top: 3%;
  margin-bottom: 5%;
}
@media (max-width: 767px) {
  .banner .white-line {
    width: 40%;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
}
.banner button {
  height: 7.5vh;
  min-height: 77px;
  max-width: 370px;
  width: 30.5vw;
  background-color: transparent;
  border: 4px solid #FFFFFF;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 700;
}
@media (max-width: 767px) {
  .banner button {
    width: 50vw;
    font-size: 2.5rem;
  }
}
.banner button:hover {
  background-color: #FFFFFF;
  color: #E4BE8D;
  cursor: pointer;
}
.banner button:active {
  border-color: #E4BE8D;
}
.banner .banner-slider {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: space-between;
  padding: 0 11%;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .banner .banner-slider {
    padding: 0;
    justify-content: space-evenly;
  }
}
.banner .banner-slider .slider-1, .banner .banner-slider .slider-2, .banner .banner-slider .slider-3, .banner .banner-slider .slider-4 {
  max-width: 270px;
  width: 23%;
  max-height: 85px;
  height: 8.5vh;
  justify-content: flex-start;
}
@media (max-width: 767px) {
  .banner .banner-slider .slider-1, .banner .banner-slider .slider-2, .banner .banner-slider .slider-3, .banner .banner-slider .slider-4 {
    color: transparent;
    width: 20%;
  }
}
.banner .banner-slider .slider-1 h5, .banner .banner-slider .slider-2 h5, .banner .banner-slider .slider-3 h5, .banner .banner-slider .slider-4 h5 {
  margin-top: 2%;
  margin-left: 2%;
}
@media (max-width: 575.98px) {
  .banner .banner-slider .slider-1 h5, .banner .banner-slider .slider-2 h5, .banner .banner-slider .slider-3 h5, .banner .banner-slider .slider-4 h5 {
    display: none;
  }
}
.banner .banner-slider .slider-1 {
  border-top: 4px solid #FFFFFF;
  position: relative;
}
@media (max-width: 767px) {
  .banner .banner-slider .slider-1 {
    border-top: 4px solid #F38281;
  }
}
.banner .banner-slider .slider-1::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  max-width: 70px;
  width: 27%;
  border-top: 4px solid #F38281;
}
.banner .banner-slider .slider-2, .banner .banner-slider .slider-3, .banner .banner-slider .slider-4 {
  border-top: 4px solid #F9EFCF;
  color: #F9EFCF;
}
@media (max-width: 767px) {
  .banner .banner-slider .slider-2, .banner .banner-slider .slider-3, .banner .banner-slider .slider-4 {
    color: transparent;
  }
}

.story-section .story-container {
  width: 100%;
  margin-top: 8vh;
  margin-bottom: 10vh;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 1024px) {
  .story-section .story-container {
    margin-top: 9vh;
    margin-bottom: 8vh;
  }
}
@media (max-width: 767.98px) {
  .story-section .story-container {
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 575.98px) {
  .story-section .story-container {
    margin-top: 2vh;
  }
}
.story-section .story-container img {
  width: 100%;
}
.story-section .story-container .super-team-1, .story-section .story-container .super-team-2, .story-section .story-container .super-team-3 {
  position: relative;
  max-width: 370px;
  width: 32%;
}
@media (max-width: 767.98px) {
  .story-section .story-container .super-team-1, .story-section .story-container .super-team-2, .story-section .story-container .super-team-3 {
    width: 45%;
    margin: 2%;
  }
}
@media (max-width: 575.98px) {
  .story-section .story-container .super-team-1, .story-section .story-container .super-team-2, .story-section .story-container .super-team-3 {
    width: 100%;
    margin: 2% 0;
  }
}
.story-section .story-container .super-team-1 .hover-team, .story-section .story-container .super-team-2 .hover-team, .story-section .story-container .super-team-3 .hover-team {
  position: absolute;
  top: -16px;
  left: -16px;
  right: 16px;
  bottom: 16px;
  background-image: linear-gradient(360deg, rgba(237, 215, 137, 0.9), rgba(233, 130, 131, 0.9));
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 1024px) {
  .story-section .story-container .super-team-1 .hover-team, .story-section .story-container .super-team-2 .hover-team, .story-section .story-container .super-team-3 .hover-team {
    top: -6px;
    left: -6px;
    right: 6px;
    bottom: 6px;
  }
}
@media (max-width: 575.98px) {
  .story-section .story-container .super-team-1 .hover-team, .story-section .story-container .super-team-2 .hover-team, .story-section .story-container .super-team-3 .hover-team {
    top: 68%;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
  }
}
.story-section .story-container .super-team-1 .hover-team:hover, .story-section .story-container .super-team-2 .hover-team:hover, .story-section .story-container .super-team-3 .hover-team:hover {
  cursor: pointer;
  opacity: 1;
}
.story-section .story-container .super-team-1 .hover-team img, .story-section .story-container .super-team-2 .hover-team img, .story-section .story-container .super-team-3 .hover-team img {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 45%;
  top: 35%;
}
@media (max-width: 575.98px) {
  .story-section .story-container .super-team-1 .hover-team img, .story-section .story-container .super-team-2 .hover-team img, .story-section .story-container .super-team-3 .hover-team img {
    position: absolute;
    top: calc(50% - 20px);
    left: 5%;
  }
}
.story-section .story-container .super-team-1 h4, .story-section .story-container .super-team-2 h4, .story-section .story-container .super-team-3 h4 {
  font-weight: 500;
  position: absolute;
  width: 100%;
  top: 55%;
  left: 0;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
@media (max-width: 1024px) {
  .story-section .story-container .super-team-1 h4, .story-section .story-container .super-team-2 h4, .story-section .story-container .super-team-3 h4 {
    font-size: 1.65rem;
  }
}
@media (max-width: 575.98px) {
  .story-section .story-container .super-team-1 h4, .story-section .story-container .super-team-2 h4, .story-section .story-container .super-team-3 h4 {
    position: absolute;
    top: calc(50% - 1.5rem);
    left: 0;
    font-size: 3rem;
  }
}

.number-section {
  flex-direction: row;
  background-color: #95E1D3;
}
@media (max-width: 767.98px) {
  .number-section {
    flex-wrap: wrap;
  }
}
.number-section .number {
  width: 20%;
  border-right: 1px solid #FFFFFF;
  flex-direction: column;
  color: #FFFFFF;
}
@media (max-width: 767.98px) {
  .number-section .number {
    width: 50%;
    border-right: none;
    border-bottom: 1px solid #FFFFFF;
  }
}
.number-section .number:first-child {
  border-left: 1px solid #FFFFFF;
}
@media (max-width: 767.98px) {
  .number-section .number:first-child {
    border-left: none;
  }
}
.number-section .number h3 {
  font-size: 4rem;
  font-weight: 700;
}
@media (max-width: 575.98px) {
  .number-section .number h3 {
    font-size: 7.5rem;
  }
}
.number-section .number h4 {
  font-weight: 400;
  text-transform: none;
  margin-top: 2vh;
  margin-bottom: 5vh;
}
@media (max-width: 575.98px) {
  .number-section .number h4 {
    font-size: 3rem;
  }
}

.worck-service-section .service-content {
  margin-top: 8vh;
  margin-bottom: 9vh;
  display: grid;
  justify-content: space-between;
  row-gap: 14vh;
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: 1fr 1fr;
}
@media (max-width: 1024px) {
  .worck-service-section .service-content {
    row-gap: 7vh;
    margin-top: 0;
  }
}
@media (max-width: 767.98px) {
  .worck-service-section .service-content {
    grid-template-columns: repeat(2, 49%);
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media (max-width: 575.98px) {
  .worck-service-section .service-content {
    display: flex;
    flex-direction: column;
  }
}
.worck-service-section .service-content h4 {
  margin-top: 1vh;
}
@media (max-width: 575.98px) {
  .worck-service-section .service-content h4 {
    font-size: 3rem;
  }
}
.worck-service-section .service-content h5 {
  text-align: start;
  margin-top: 10%;
}
@media (max-width: 767.98px) {
  .worck-service-section .service-content h5 {
    font-size: 1.7rem;
  }
}
@media (max-width: 575.98px) {
  .worck-service-section .service-content h5 {
    font-size: 2.5rem;
  }
}
.worck-service-section .service-content .service-1, .worck-service-section .service-content .service-2, .worck-service-section .service-content .service-3,
.worck-service-section .service-content .service-4, .worck-service-section .service-content .service-5, .worck-service-section .service-content .service-6 {
  display: flex;
}
.worck-service-section .service-content .service-1 .service-text, .worck-service-section .service-content .service-2 .service-text, .worck-service-section .service-content .service-3 .service-text,
.worck-service-section .service-content .service-4 .service-text, .worck-service-section .service-content .service-5 .service-text, .worck-service-section .service-content .service-6 .service-text {
  margin-left: 20px;
}
.worck-service-section .service-content .service-1 img, .worck-service-section .service-content .service-2 img, .worck-service-section .service-content .service-3 img,
.worck-service-section .service-content .service-4 img, .worck-service-section .service-content .service-5 img, .worck-service-section .service-content .service-6 img {
  width: 5vw;
  height: 7vh;
}
@media (max-width: 767.98px) {
  .worck-service-section .service-content .service-1 img, .worck-service-section .service-content .service-2 img, .worck-service-section .service-content .service-3 img,
  .worck-service-section .service-content .service-4 img, .worck-service-section .service-content .service-5 img, .worck-service-section .service-content .service-6 img {
    width: 7vw;
    height: 9vh;
  }
}
@media (max-width: 575.98px) {
  .worck-service-section .service-content .service-1 img, .worck-service-section .service-content .service-2 img, .worck-service-section .service-content .service-3 img,
  .worck-service-section .service-content .service-4 img, .worck-service-section .service-content .service-5 img, .worck-service-section .service-content .service-6 img {
    width: 18vw;
    height: 10vh;
    align-self: start;
  }
}

.unique-section {
  position: relative;
}
.unique-section::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
  background-image: url(../img/unique-design/background-image.svg);
  background-size: cover;
  background-position: center;
  filter: opacity(20%);
}
.unique-section .devices {
  width: 100%;
  margin-bottom: 6vh;
  position: relative;
}
.unique-section .devices .tablet-image {
  height: 93%;
  position: absolute;
  z-index: -1;
  top: 3%;
  left: 21.4%;
}
@media (max-width: 767.98px) {
  .unique-section .devices .tablet-image {
    left: 2%;
  }
}
.unique-section .devices .tablet-frame {
  width: 60%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 767.98px) {
  .unique-section .devices .tablet-frame {
    width: 100%;
  }
}
.unique-section .devices .device-phone {
  width: 20%;
  position: absolute;
  top: 38%;
  right: 14%;
}
@media (max-width: 767.98px) {
  .unique-section .devices .device-phone {
    width: 30%;
    top: 45%;
    right: 10%;
  }
}
.unique-section .devices .device-phone img {
  width: 100%;
}
.unique-section .devices .device-phone .phone-image {
  width: 95%;
  position: absolute;
  top: 0;
  left: 1%;
  z-index: 1;
}
.unique-section .devices .device-phone .phone-frame {
  position: absolute;
  z-index: 2;
}

.service-section .service-box {
  margin-top: 8vh;
  margin-bottom: 11vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
@media (max-width: 575.98px) {
  .service-section .service-box {
    display: flex;
    flex-direction: column;
  }
}
.service-section .service-box img {
  max-width: 570px;
  width: 49%;
  height: 100%;
}
@media (max-width: 575.98px) {
  .service-section .service-box img {
    width: 100%;
  }
}
.service-section .service-box .acor-container {
  max-width: 570px;
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 575.98px) {
  .service-section .service-box .acor-container {
    width: 100%;
    margin-top: 2%;
  }
}
.service-section .service-box .acor-container .acor1-1 input {
  display: none;
}
.service-section .service-box .acor-container .acor1-1 input:checked + label::after {
  transition: transform 0.35s;
  transform: rotate(90deg);
}
.service-section .service-box .acor-container .acor1-1 input:checked + label + .acor-body {
  height: calc((1vh + 1vw) * 7.2);
  border: 1.7vh solid #FFFFFF;
  outline: 1px solid #C6CBCD;
  outline-offset: -1px;
  box-sizing: border-box;
  overflow: auto;
}
@media (max-width: 1024px) {
  .service-section .service-box .acor-container .acor1-1 input:checked + label + .acor-body {
    height: calc((1vh + 1vw) * 8);
  }
}
@media (max-width: 575.98px) {
  .service-section .service-box .acor-container .acor1-1 input:checked + label + .acor-body {
    height: 20vh;
  }
}
.service-section .service-box .acor-container .acor1-1 .acor-body {
  width: 100%;
  height: 0;
  line-height: 1.125rem;
  padding-right: 8%;
  transition: padding 0.5s;
  overflow: auto;
  transition: 0.25s;
}
.service-section .service-box .acor-container .acor1-1 .acor-body h5 {
  text-align: start;
  line-height: 1.4rem;
}
@media (max-width: 1024px) {
  .service-section .service-box .acor-container .acor1-1 .acor-body h5 {
    font-size: 1.3rem;
  }
}
@media (max-width: 575.98px) {
  .service-section .service-box .acor-container .acor1-1 .acor-body h5 {
    font-size: 2rem;
    line-height: 2.3rem;
  }
}
.service-section .service-box .acor-container .acor1-1 label {
  cursor: pointer;
  text-transform: uppercase;
  justify-content: space-between;
  z-index: 1;
  border: 1px solid #C6CBCD;
  width: 100%;
  height: calc((1vh + 1vw) * 2.9);
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0 20px 0 10px;
  transition: color 0.35s;
}
@media (max-width: 1024px) {
  .service-section .service-box .acor-container .acor1-1 label {
    height: calc((1vh + 1vw) * 3.2);
  }
}
@media (max-width: 575.98px) {
  .service-section .service-box .acor-container .acor1-1 label {
    height: 10vh;
    margin-top: 5%;
    font-size: 2.2rem;
  }
}
.service-section .service-box .acor-container .acor1-1 label img {
  width: 10%;
  height: 60%;
}
.service-section .service-box .acor-container .acor1-1 label::after {
  content: url(../icons/comment-arrow-left.svg);
  float: right;
  color: #C6CBCD;
  transform: rotate(-90deg);
}

.comment, .comment-2 {
  background-color: #F8F8F8;
  display: flex;
  padding: 4vh 11%;
  position: relative;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1024px) {
  .comment, .comment-2 {
    padding: 4vh 4%;
  }
}
@media (max-width: 767.98px) {
  .comment, .comment-2 {
    padding: 4vh 5%;
  }
}
.comment .comment-box, .comment-2 .comment-box {
  display: flex;
  position: relative;
}
.comment .comment-box img, .comment-2 .comment-box img {
  width: 10vw;
  margin-left: 4vw;
}
@media (max-width: 767.98px) {
  .comment .comment-box img, .comment-2 .comment-box img {
    display: none;
  }
}
.comment .comment-box::before, .comment-2 .comment-box::before {
  content: url(../icons/comment-arrow-left.svg);
  position: relative;
  top: 6vh;
}
@media (max-width: 767.98px) {
  .comment .comment-box::before, .comment-2 .comment-box::before {
    display: none;
  }
}
.comment .comment-box::after, .comment-2 .comment-box::after {
  content: url(../icons/comment-arrow-right.svg);
  position: relative;
  top: 6vh;
}
@media (max-width: 767.98px) {
  .comment .comment-box::after, .comment-2 .comment-box::after {
    display: none;
  }
}
.comment .comment-box:hover::before, .comment .comment-box:hover::after, .comment-2 .comment-box:hover::before, .comment-2 .comment-box:hover::after {
  cursor: pointer;
}
.comment .comment-content, .comment-2 .comment-content {
  margin-left: 30px;
  margin-right: 60px;
}
@media (max-width: 767.98px) {
  .comment .comment-content, .comment-2 .comment-content {
    margin: 0;
  }
}
.comment h2, .comment-2 h2 {
  margin: 0;
}
.comment h4, .comment-2 h4 {
  color: #A9AFB1;
  text-transform: none;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 25px;
}
.comment .red-line, .comment-2 .red-line {
  max-width: 70px;
  width: 4.6vw;
  margin: 0 3.7vw 0 0;
}
@media (max-width: 767.98px) {
  .comment .red-line, .comment-2 .red-line {
    width: 9vw;
    margin-right: 8vw;
  }
}
@media (max-width: 575.98px) {
  .comment .red-line, .comment-2 .red-line {
    width: 15vw;
  }
}
.comment .red-line-name, .comment-2 .red-line-name {
  display: flex;
  align-items: center;
}
@media (max-width: 575.98px) {
  .comment .pagination div, .comment-2 .pagination div {
    width: 10px;
    height: 10px;
    border: 1px solid #C6CBCD;
    border-radius: 50%;
    display: inline-flex;
    margin: 25px 20px;
  }
}
.comment .pagination div:nth-child(2), .comment-2 .pagination div:nth-child(2) {
  background-color: #C6CBCD;
}

.our-team-section .team-box {
  width: 100%;
  margin-top: 5vh;
  margin-bottom: 6vh;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .our-team-section .team-box {
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 575.98px) {
  .our-team-section .team-box {
    margin-top: 0;
  }
}
.our-team-section .team-box .team-1, .our-team-section .team-box .team-2, .our-team-section .team-box .team-3 {
  position: relative;
  max-width: 370px;
  width: 32%;
}
@media (max-width: 767.98px) {
  .our-team-section .team-box .team-1, .our-team-section .team-box .team-2, .our-team-section .team-box .team-3 {
    width: 45%;
    margin: 2%;
  }
}
@media (max-width: 575.98px) {
  .our-team-section .team-box .team-1, .our-team-section .team-box .team-2, .our-team-section .team-box .team-3 {
    width: 100%;
    margin: 8% 0 0 0;
  }
}
.our-team-section .team-box .our-team-1, .our-team-section .team-box .our-team-2, .our-team-section .team-box .our-team-3 {
  position: relative;
}
.our-team-section .team-box .our-team-1 > img, .our-team-section .team-box .our-team-2 > img, .our-team-section .team-box .our-team-3 > img {
  width: 100%;
}
.our-team-section .team-box .our-team-1 .hover-links, .our-team-section .team-box .our-team-2 .hover-links, .our-team-section .team-box .our-team-3 .hover-links {
  position: absolute;
  top: -16px;
  left: -16px;
  right: 16px;
  bottom: 16px;
  background-image: linear-gradient(360deg, rgba(237, 215, 137, 0.9), rgba(233, 130, 131, 0.9));
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.our-team-section .team-box .our-team-1 .hover-links:hover, .our-team-section .team-box .our-team-2 .hover-links:hover, .our-team-section .team-box .our-team-3 .hover-links:hover {
  opacity: 1;
}
.our-team-section .team-box .our-team-1 .hover-links .facebook-icon, .our-team-section .team-box .our-team-1 .hover-links .twitter-icon, .our-team-section .team-box .our-team-1 .hover-links .pinterest-icon, .our-team-section .team-box .our-team-1 .hover-links .instagram-icon, .our-team-section .team-box .our-team-2 .hover-links .facebook-icon, .our-team-section .team-box .our-team-2 .hover-links .twitter-icon, .our-team-section .team-box .our-team-2 .hover-links .pinterest-icon, .our-team-section .team-box .our-team-2 .hover-links .instagram-icon, .our-team-section .team-box .our-team-3 .hover-links .facebook-icon, .our-team-section .team-box .our-team-3 .hover-links .twitter-icon, .our-team-section .team-box .our-team-3 .hover-links .pinterest-icon, .our-team-section .team-box .our-team-3 .hover-links .instagram-icon {
  width: 14%;
  height: 12%;
  background-color: #F9EFCF;
  margin-right: 1px;
}
@media (max-width: 575.98px) {
  .our-team-section .team-box .our-team-1 .hover-links .facebook-icon, .our-team-section .team-box .our-team-1 .hover-links .twitter-icon, .our-team-section .team-box .our-team-1 .hover-links .pinterest-icon, .our-team-section .team-box .our-team-1 .hover-links .instagram-icon, .our-team-section .team-box .our-team-2 .hover-links .facebook-icon, .our-team-section .team-box .our-team-2 .hover-links .twitter-icon, .our-team-section .team-box .our-team-2 .hover-links .pinterest-icon, .our-team-section .team-box .our-team-2 .hover-links .instagram-icon, .our-team-section .team-box .our-team-3 .hover-links .facebook-icon, .our-team-section .team-box .our-team-3 .hover-links .twitter-icon, .our-team-section .team-box .our-team-3 .hover-links .pinterest-icon, .our-team-section .team-box .our-team-3 .hover-links .instagram-icon {
    margin-right: 0;
    margin-left: 1px;
  }
}
.our-team-section .team-box .our-team-1 .hover-links .facebook-icon img, .our-team-section .team-box .our-team-1 .hover-links .twitter-icon img, .our-team-section .team-box .our-team-1 .hover-links .pinterest-icon img, .our-team-section .team-box .our-team-1 .hover-links .instagram-icon img, .our-team-section .team-box .our-team-2 .hover-links .facebook-icon img, .our-team-section .team-box .our-team-2 .hover-links .twitter-icon img, .our-team-section .team-box .our-team-2 .hover-links .pinterest-icon img, .our-team-section .team-box .our-team-2 .hover-links .instagram-icon img, .our-team-section .team-box .our-team-3 .hover-links .facebook-icon img, .our-team-section .team-box .our-team-3 .hover-links .twitter-icon img, .our-team-section .team-box .our-team-3 .hover-links .pinterest-icon img, .our-team-section .team-box .our-team-3 .hover-links .instagram-icon img {
  width: 80%;
  height: 80%;
}
.our-team-section .team-box .our-team-1 .hover-links .facebook-icon:hover, .our-team-section .team-box .our-team-1 .hover-links .twitter-icon:hover, .our-team-section .team-box .our-team-1 .hover-links .pinterest-icon:hover, .our-team-section .team-box .our-team-1 .hover-links .instagram-icon:hover, .our-team-section .team-box .our-team-2 .hover-links .facebook-icon:hover, .our-team-section .team-box .our-team-2 .hover-links .twitter-icon:hover, .our-team-section .team-box .our-team-2 .hover-links .pinterest-icon:hover, .our-team-section .team-box .our-team-2 .hover-links .instagram-icon:hover, .our-team-section .team-box .our-team-3 .hover-links .facebook-icon:hover, .our-team-section .team-box .our-team-3 .hover-links .twitter-icon:hover, .our-team-section .team-box .our-team-3 .hover-links .pinterest-icon:hover, .our-team-section .team-box .our-team-3 .hover-links .instagram-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.our-team-section .team-box .our-team-1 .hover-links .facebook-icon, .our-team-section .team-box .our-team-2 .hover-links .facebook-icon, .our-team-section .team-box .our-team-3 .hover-links .facebook-icon {
  background-color: #F38281;
}
@media (max-width: 767.98px) {
  .our-team-section .team-box .our-team-1 .hover-links, .our-team-section .team-box .our-team-2 .hover-links, .our-team-section .team-box .our-team-3 .hover-links {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .our-team-section .team-box .our-team-1 .hover-links, .our-team-section .team-box .our-team-2 .hover-links, .our-team-section .team-box .our-team-3 .hover-links {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 1px;
    right: 0;
    background-image: none;
    opacity: 1;
  }
}
.our-team-section .team-box h4, .our-team-section .team-box h5 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 5%;
}
@media (max-width: 575.98px) {
  .our-team-section .team-box h4 {
    font-size: 3rem;
  }
}

.partner-section {
  flex-direction: row;
  justify-content: space-between;
  background-color: #F8F8F8;
  padding: 2%;
}
@media (max-width: 767.98px) {
  .partner-section {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.partner-section img {
  width: 14.2857142857%;
}
@media (max-width: 767.98px) {
  .partner-section img {
    margin: 0 5%;
  }
}
@media (max-width: 575.98px) {
  .partner-section img {
    width: 33.3333333333%;
  }
}
.partner-section img:nth-child(3), .partner-section img:nth-child(4), .partner-section img:nth-child(5) {
  padding: 3%;
}
@media (max-width: 575.98px) {
  .partner-section img:nth-child(3), .partner-section img:nth-child(4), .partner-section img:nth-child(5) {
    padding: 7%;
  }
}
@media (max-width: 575.98px) {
  .partner-section img:nth-child(3) {
    margin: 0 30%;
  }
}
.partner-section img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
}

.some-work-section .some-work {
  margin-top: 80px;
  display: grid;
  grid-template-areas: "work-1 work-2 work-3 work-4" "work-5 work-6 work-3 work-7";
  position: relative;
  width: 100%;
}
@media (max-width: 767.98px) {
  .some-work-section .some-work {
    margin-top: 5vh;
    grid-template-areas: "work-1 work-2 work-3" "work-4 work-5 work-3" "work-6 work-7 work-3";
  }
}
@media (max-width: 575.98px) {
  .some-work-section .some-work {
    grid-template-areas: "work-1 work-3" "work-2 work-3" "work-4 work-3" "work-5 work-6" "work-7 work-7";
  }
}
@media (max-width: 319.98px) {
  .some-work-section .some-work {
    display: flex;
    flex-direction: column;
  }
}
.some-work-section .some-work .work-1, .some-work-section .some-work .work-2, .some-work-section .some-work .work-3, .some-work-section .some-work .work-4, .some-work-section .some-work .work-5, .some-work-section .some-work .work-6, .some-work-section .some-work .work-7 {
  position: relative;
  width: 25vw;
  height: 25vw;
}
@media (max-width: 767.98px) {
  .some-work-section .some-work .work-1, .some-work-section .some-work .work-2, .some-work-section .some-work .work-3, .some-work-section .some-work .work-4, .some-work-section .some-work .work-5, .some-work-section .some-work .work-6, .some-work-section .some-work .work-7 {
    width: 33.3333333333vw;
    height: 33.3333333333vh;
  }
}
@media (max-width: 575.98px) {
  .some-work-section .some-work .work-1, .some-work-section .some-work .work-2, .some-work-section .some-work .work-3, .some-work-section .some-work .work-4, .some-work-section .some-work .work-5, .some-work-section .some-work .work-6, .some-work-section .some-work .work-7 {
    width: 100%;
  }
}
.some-work-section .some-work .work-1 img, .some-work-section .some-work .work-2 img, .some-work-section .some-work .work-3 img, .some-work-section .some-work .work-4 img, .some-work-section .some-work .work-5 img, .some-work-section .some-work .work-6 img, .some-work-section .some-work .work-7 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.some-work-section .some-work .work-1 .hover-work, .some-work-section .some-work .work-2 .hover-work, .some-work-section .some-work .work-3 .hover-work, .some-work-section .some-work .work-4 .hover-work, .some-work-section .some-work .work-5 .hover-work, .some-work-section .some-work .work-6 .hover-work, .some-work-section .some-work .work-7 .hover-work {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(360deg, rgba(237, 215, 137, 0.9), rgba(233, 130, 131, 0.9));
  opacity: 0;
  transition: all 0.4s ease-in-out;
  flex-direction: column;
  color: #FFFFFF;
}
.some-work-section .some-work .work-1 .hover-work img, .some-work-section .some-work .work-2 .hover-work img, .some-work-section .some-work .work-3 .hover-work img, .some-work-section .some-work .work-4 .hover-work img, .some-work-section .some-work .work-5 .hover-work img, .some-work-section .some-work .work-6 .hover-work img, .some-work-section .some-work .work-7 .hover-work img {
  height: 42px;
}
.some-work-section .some-work .work-1 .hover-work h4, .some-work-section .some-work .work-2 .hover-work h4, .some-work-section .some-work .work-3 .hover-work h4, .some-work-section .some-work .work-4 .hover-work h4, .some-work-section .some-work .work-5 .hover-work h4, .some-work-section .some-work .work-6 .hover-work h4, .some-work-section .some-work .work-7 .hover-work h4 {
  margin-top: 20%;
  margin-bottom: 5%;
}
.some-work-section .some-work .work-1 .hover-work:hover, .some-work-section .some-work .work-2 .hover-work:hover, .some-work-section .some-work .work-3 .hover-work:hover, .some-work-section .some-work .work-4 .hover-work:hover, .some-work-section .some-work .work-5 .hover-work:hover, .some-work-section .some-work .work-6 .hover-work:hover, .some-work-section .some-work .work-7 .hover-work:hover {
  opacity: 1;
  cursor: pointer;
}
@media (max-width: 767.98px) {
  .some-work-section .some-work .work-1 .hover-work, .some-work-section .some-work .work-2 .hover-work, .some-work-section .some-work .work-3 .hover-work, .some-work-section .some-work .work-4 .hover-work, .some-work-section .some-work .work-5 .hover-work, .some-work-section .some-work .work-6 .hover-work, .some-work-section .some-work .work-7 .hover-work {
    display: none;
  }
}
.some-work-section .some-work .work-1 {
  grid-area: work-1;
}
.some-work-section .some-work .work-2 {
  grid-area: work-2;
}
.some-work-section .some-work .work-3 {
  grid-area: work-3;
  height: 50vw;
}
@media (max-width: 767.98px) {
  .some-work-section .some-work .work-3 {
    height: 100vh;
  }
}
.some-work-section .some-work .work-4 {
  grid-area: work-4;
}
.some-work-section .some-work .work-5 {
  grid-area: work-5;
}
.some-work-section .some-work .work-6 {
  grid-area: work-6;
}
.some-work-section .some-work .work-7 {
  grid-area: work-7;
}

.comment-2 {
  background-color: #FFFFFF;
  padding: 8% 10%;
}
@media (max-width: 575.98px) {
  .comment-2 .comment-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 575.98px) {
  .comment-2 .comment-box img {
    display: block;
    width: 40%;
    margin: 10% 0;
  }
}

.clients-section {
  position: relative;
}
.clients-section .clients-box {
  margin-top: 8vh;
  margin-bottom: 9vh;
  display: grid;
  justify-content: space-between;
  gap: 6% 3%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
@media (max-width: 575.98px) {
  .clients-section .clients-box {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
}
.clients-section::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
  background-image: url(../img/clients/background-clients.svg);
  background-size: cover;
  background-position: center;
  filter: opacity(10%);
}
.clients-section .client-1, .clients-section .client-2, .clients-section .client-3, .clients-section .client-4 {
  display: flex;
}
@media (max-width: 575.98px) {
  .clients-section .client-1, .clients-section .client-2, .clients-section .client-3, .clients-section .client-4 {
    flex-direction: column;
    text-align: center;
    margin-top: 15%;
  }
}
.clients-section .client-1:hover, .clients-section .client-2:hover, .clients-section .client-3:hover, .clients-section .client-4:hover {
  cursor: pointer;
  background-color: #C6CBCD;
  transition: 0.35s ease;
}
.clients-section .client-1 .red-line, .clients-section .client-2 .red-line, .clients-section .client-3 .red-line, .clients-section .client-4 .red-line {
  max-width: 134px;
  width: 4.6vw;
  margin: 3vh 0 5vh 0;
  justify-self: flex-start;
}
@media (max-width: 575.98px) {
  .clients-section .client-1 .red-line, .clients-section .client-2 .red-line, .clients-section .client-3 .red-line, .clients-section .client-4 .red-line {
    width: 45vw;
    margin-bottom: 3vh;
    align-self: center;
  }
}
@media (max-width: 575.98px) {
  .clients-section .client-1 h4, .clients-section .client-2 h4, .clients-section .client-3 h4, .clients-section .client-4 h4 {
    font-size: 3.2rem;
    margin-top: 4vh;
  }
}
.clients-section .client-1 h5, .clients-section .client-2 h5, .clients-section .client-3 h5, .clients-section .client-4 h5 {
  text-align: start;
  text-transform: uppercase;
  margin-top: 10px;
}
@media (max-width: 575.98px) {
  .clients-section .client-1 h5, .clients-section .client-2 h5, .clients-section .client-3 h5, .clients-section .client-4 h5 {
    font-size: 2.4rem;
    text-align: center;
  }
}
.clients-section .client-1 h6, .clients-section .client-2 h6, .clients-section .client-3 h6, .clients-section .client-4 h6 {
  font-size: 1.16rem;
}
@media (max-width: 575.98px) {
  .clients-section .client-1 h6, .clients-section .client-2 h6, .clients-section .client-3 h6, .clients-section .client-4 h6 {
    font-size: 2.4rem;
  }
}
.clients-section .client-1 .client-comment, .clients-section .client-2 .client-comment, .clients-section .client-3 .client-comment, .clients-section .client-4 .client-comment {
  margin-left: 5vw;
}
@media (max-width: 575.98px) {
  .clients-section .client-1 .client-comment, .clients-section .client-2 .client-comment, .clients-section .client-3 .client-comment, .clients-section .client-4 .client-comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
  }
}
.clients-section .client-1 img, .clients-section .client-2 img, .clients-section .client-3 img, .clients-section .client-4 img {
  align-self: start;
  max-width: 130px;
  width: 10vw;
  margin-left: 20px;
}
@media (max-width: 575.98px) {
  .clients-section .client-1 img, .clients-section .client-2 img, .clients-section .client-3 img, .clients-section .client-4 img {
    width: 30vw;
    margin: auto;
  }
}

.latest-blog-1 .blog-box {
  width: 100%;
  margin-top: 4vh;
  margin-bottom: 8vh;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .latest-blog-1 .blog-box {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0;
  }
}
@media (max-width: 575.98px) {
  .latest-blog-1 .blog-box {
    display: flex;
    flex-direction: column;
  }
}
.latest-blog-1 .blog-box .blog {
  max-width: 370px;
  width: 32%;
  height: 100%;
  position: relative;
}
@media (max-width: 767.98px) {
  .latest-blog-1 .blog-box .blog {
    width: 45%;
    margin: 2%;
  }
}
@media (max-width: 575.98px) {
  .latest-blog-1 .blog-box .blog {
    width: 100%;
    margin: 0;
    margin-top: 15%;
  }
}
.latest-blog-1 .blog-box .blog img {
  width: 100%;
}
.latest-blog-1 .blog-box .blog img:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: 0.35s ease;
}
.latest-blog-1 .blog-box .blog .latest-image {
  position: relative;
}
.latest-blog-1 .blog-box .blog .latest-image .latest-data {
  position: absolute;
  top: 55%;
  left: -3%;
  z-index: 1;
  width: calc((1vw + 1vh) * 3.2);
  height: calc((1vw + 1vh) * 3.2);
  background-color: #95E1D3;
  color: #FFFFFF;
  flex-direction: column;
}
@media (max-width: 575.98px) {
  .latest-blog-1 .blog-box .blog .latest-image .latest-data {
    top: 60%;
    left: 0;
    width: calc((1vw + 1vh) * 6.5);
    height: calc((1vw + 1vh) * 6.5);
  }
}
.latest-blog-1 .blog-box .blog .latest-image .latest-data h3 {
  margin: 0;
  font-weight: 700;
}
@media (max-width: 767.98px) {
  .latest-blog-1 .blog-box .blog .latest-image .latest-data h3 {
    font-size: 2rem;
  }
}
@media (max-width: 575.98px) {
  .latest-blog-1 .blog-box .blog .latest-image .latest-data h3 {
    font-size: 4rem;
  }
}
.latest-blog-1 .blog-box .blog .latest-image .latest-data h5 {
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}
@media (max-width: 575.98px) {
  .latest-blog-1 .blog-box .blog .latest-image .latest-data h5 {
    font-size: 2rem;
    line-height: 20px;
  }
}
.latest-blog-1 .blog-box h4 {
  text-align: start;
  margin-top: 30px;
  margin-bottom: 10px;
}
@media (max-width: 575.98px) {
  .latest-blog-1 .blog-box h4 {
    font-size: 3.2rem;
  }
}
.latest-blog-1 .blog-box h5 {
  text-align: start;
}
@media (max-width: 767.98px) {
  .latest-blog-1 .blog-box h5 {
    font-size: 1.3rem;
  }
}
@media (max-width: 575.98px) {
  .latest-blog-1 .blog-box h5 {
    font-size: 2.4rem;
  }
}
.latest-blog-1 .blog-box .watch-comment {
  display: flex;
  margin-top: 30px;
}
.latest-blog-1 .blog-box .watch-comment h6 {
  margin-left: 18px;
  margin-right: 50px;
}
@media (max-width: 575.98px) {
  .latest-blog-1 .blog-box .watch-comment h6 {
    font-size: 2.2rem;
  }
}
.latest-blog-1 .blog-box .watch-comment img {
  width: 6%;
}
@media (max-width: 767.98px) {
  .latest-blog-1 .blog-box .watch-comment img {
    width: 10%;
  }
}
.latest-blog-1 .blog-box .watch-comment img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.latest-blog-2 {
  position: relative;
}
@media (max-width: 575.98px) {
  .latest-blog-2 {
    padding: 5% 0;
  }
}
.latest-blog-2 img {
  margin-top: 4vh;
}
.latest-blog-2 h3 {
  margin-top: 20px;
  color: #F38281;
}
.latest-blog-2::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
  background-image: url(../img/latest-blog-background.svg);
  background-size: cover;
  background-position: center;
  filter: opacity(10%);
}

.footer {
  background-color: #F8F8F8;
  display: flex;
  justify-content: space-between;
  padding: 42px 11%;
  width: 100%;
}
@media (max-width: 1024px) {
  .footer {
    padding: 5vh 2%;
  }
}
@media (max-width: 767.98px) {
  .footer {
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
  }
}
.footer .logo-footer-section {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .logo-footer-section > img {
  width: 45%;
  margin-top: 12%;
  margin-bottom: 10%;
}
@media (max-width: 575.98px) {
  .footer .logo-footer-section > img {
    width: 35%;
  }
}
@media (max-width: 767.98px) {
  .footer .logo-footer-section {
    width: 40%;
    margin: 2%;
  }
}
@media (max-width: 575.98px) {
  .footer .logo-footer-section {
    width: 100%;
    align-items: center;
  }
}
.footer .logo-footer-section > h5 {
  padding: 10px 0;
  text-align: start;
  color: #C6CBCD;
}
@media (max-width: 575.98px) {
  .footer .logo-footer-section > h5 {
    font-size: 2.4rem;
    text-align: center;
  }
}
.footer .logo-footer-section .followers {
  border-bottom: 1px solid #C6CBCD;
  display: flex;
  padding: 20px 0;
  display: flex;
  align-items: center;
}
@media (max-width: 575.98px) {
  .footer .logo-footer-section .followers {
    padding: 10px 0;
    width: 100%;
    justify-content: center;
  }
}
.footer .logo-footer-section .followers h3 {
  margin: 0;
  line-height: 30px;
}
.footer .logo-footer-section .followers h5 {
  text-transform: uppercase;
  margin: 0;
  font-style: italic;
}
.footer .logo-footer-section .followers span {
  font-weight: 700;
}
@media (max-width: 575.98px) {
  .footer .logo-footer-section .followers span {
    font-size: 2.3rem;
  }
}
.footer .logo-footer-section .footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 10%;
  width: 100%;
}
.footer .logo-footer-section .footer-links .links {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.footer .logo-footer-section .footer-links .links img {
  width: 10%;
}
.footer .logo-footer-section .footer-links h6 {
  font-style: italic;
  color: #C6CBCD;
}
@media (max-width: 575.98px) {
  .footer .logo-footer-section .footer-links h6 {
    font-size: 2.1rem;
  }
}
.footer .logo-footer-section .footer-links img:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.footer .logo-footer-section form {
  position: relative;
  width: 100%;
}
.footer .logo-footer-section form input[type=email] {
  outline: none;
  border: 1px solid #C6CBCD;
  width: 100%;
  max-height: 55px;
  height: 5.5vh;
  background: #fff;
  font-size: 1.14rem;
  padding-right: 35%;
  text-align: center;
}
@media (max-width: 575.98px) {
  .footer .logo-footer-section form input[type=email] {
    height: 6.5vh;
    font-size: 2.2rem;
    padding: 0;
  }
}
.footer .logo-footer-section form input[type=email]::placeholder {
  color: #C6CBCD;
  font-family: "Raleway";
  font-size: 1.14rem;
  text-align: center;
}
@media (max-width: 575.98px) {
  .footer .logo-footer-section form input[type=email]::placeholder {
    font-size: 2.2rem;
  }
}
.footer .logo-footer-section form button[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 35%;
  z-index: 1;
  outline: none;
  border: none;
  background-color: #95E1D3;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.14rem;
  cursor: pointer;
}
@media (max-width: 575.98px) {
  .footer .logo-footer-section form button[type=submit] {
    width: 100%;
    height: 6.5vh;
    top: 8vh;
    font-size: 2.2rem;
  }
}
.footer .logo-footer-section form button[type=submit]:hover {
  background-color: #87D2C4;
}
.footer .logo-footer-section form button[type=submit]:active {
  background-color: #5C958A;
}
.footer .blogs-section {
  width: 42%;
}
@media (max-width: 767.98px) {
  .footer .blogs-section {
    width: 50%;
    margin: 2%;
  }
}
@media (max-width: 575.98px) {
  .footer .blogs-section {
    width: 100%;
    margin-top: 12%;
  }
}
.footer .blogs-section h4 {
  padding: 38px 0;
}
@media (max-width: 575.98px) {
  .footer .blogs-section h4 {
    font-size: 3.2rem;
    text-align: center;
  }
}
.footer .blogs-section .blogs {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 11% 3%;
}
.footer .blogs-section .blogs img {
  width: 100%;
  object-fit: cover;
}
.footer .blogs-section .blogs .blogs-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .blogs-section .blogs .blogs-text:hover, .footer .blogs-section .blogs img:hover {
  cursor: pointer;
}
.footer .blogs-section .blogs h5 {
  text-transform: uppercase;
  font-weight: 700;
  text-align: start;
}
@media (max-width: 575.98px) {
  .footer .blogs-section .blogs h5 {
    font-size: 2.5rem;
    margin-bottom: 5%;
  }
}
@media (max-width: 575.98px) {
  .footer .blogs-section .blogs h6 {
    font-size: 2.1rem;
  }
}
.footer .instagram-section {
  width: 25%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767.98px) {
  .footer .instagram-section {
    width: 50%;
  }
}
@media (max-width: 575.98px) {
  .footer .instagram-section {
    width: 100%;
    margin-top: 12%;
  }
}
.footer .instagram-section img {
  width: 100%;
}
.footer .instagram-section h4 {
  padding: 38px 0;
}
@media (max-width: 575.98px) {
  .footer .instagram-section h4 {
    font-size: 3.2rem;
    text-align: center;
  }
}
.footer .instagram-section a {
  text-transform: uppercase;
  padding: 10% 0;
  color: black;
}
@media (max-width: 575.98px) {
  .footer .instagram-section a h6 {
    font-size: 2.2rem;
    text-align: center;
  }
}
.footer .instagram-section .instagram {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.footer .instagram-section .instagram img:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.35s ease;
}

.footer-h6 {
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 0;
  margin: 0 10%;
  border-top: 1px solid #C6CBCD;
  width: 90%;
}
@media (max-width: 575.98px) {
  .footer-h6 {
    font-size: 2.3rem;
    text-align: center;
    margin: 0 5%;
  }
}