@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Kaushan_Script';
    src: url(../fonts/Kaushan_Script/KaushanScript-Regular.ttf);
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway'; 
}

$pink-color: #F38281;
$yellow-color: #F9EFCF;
$orange-color: #F4BF87;
$light-green-color: #95E1D3;
$black-color: #2D3033;
$white-color: #F8F8F8;
$white-color-2: #F5F5F5;
$gray-color: #C6CBCD;

%display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}
h1 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 144px;
    line-height: 175.54px;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    font-family: 'Kaushan_Script';
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}
h3 {
    font-weight: 700;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 45px;
}
h4 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
h5 {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}
h6 {
    font-size: 13px;
    font-weight: 400;
}
.red-line {
    width: 170px;
    border-top: 4px solid $pink-color;
    margin: 45px 0;
}
.banner, .story-section, .number-section, .worck-service-section, .unique-section, .service-section, .our-team-section, .partner-section, .some-work-section, .clients-section, .latest-blog-1, .latest-blog-2 {
    padding: 0 170px;
    @extend %display-flex-center;
    flex-direction: column;
}
.banner {
    height: 100vh;
    width: 100%;
    margin-right: 15px;
    color: #FFFFFF;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0; right: 0; top: 0; bottom: 0;
        z-index: -1;    
        background-image: 
            linear-gradient(360deg, rgba(237, 215, 137, 0.9), rgba(233, 130, 131, 0.9)),
            url(../img/eagle.svg);
        background-size: cover;
        background-position: center;
    }
    h2 {
        font-size: 64px;
    }
    h3 {
        font-weight: 700;
        margin-top: 0;
    }
    .banner-content {
        @extend %display-flex-center;
        flex-direction: column;
    }
    .white-line {
        width: 170px;
        border-top: 4px solid #FFFFFF;
        margin-top: 44px;
    }
    button {
        height: 80px;
        width: 370px;
        background-color: transparent;
        border: 4px solid #FFFFFF;        
        text-transform: uppercase;
        color: #FFFFFF;
        font-size: 24px;
        font-weight: 700;
        margin-top: 74px;
        
        &:hover {
            background-color: #FFFFFF;
            color: #E4BE8D;
            cursor: pointer;
        }
        &:active {
            border-color: #E4BE8D;
        }
    }
    .banner-slider {
        @extend %display-flex-center;
        position: absolute;
        left: 0; right: 0; bottom: 0;
        justify-content: space-between;
        padding: 0 170px;
        text-transform: uppercase;

        .slider-1, .slider-2, .slider-3, .slider-4 {
            min-width: 270px;
            height: 85px;
            @extend %display-flex-center;
            justify-content: flex-start;
            h5 {
                margin-top: 12px;
                margin-left: 5px;
            }
        }
        .slider-1 {
            border-top: 4px solid #FFFFFF;
            &::before {
                content: '';
                position: absolute;
                top: 0; 
                left: 170px;
                width: 70px;
                border-top: 4px solid $pink-color;
            }
        }
        .slider-2, .slider-3, .slider-4 {
            border-top: 4px solid $yellow-color;
            color: $yellow-color;
        }
    }

}
.story-section {
    margin-top: 100px;

    .story-img {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 100px;
        @extend %display-flex-center;
        justify-content: space-between;
    }
    img {
        width: 370px;
    }
    img:hover {
        cursor: pointer;
    }
}
.number-section {
    flex-direction: row;
    background-color: $light-green-color;

    div {
        width: 20%;
        border-right: 1px solid #FFFFFF;
        @extend %display-flex-center;
        flex-direction: column;
        color: #FFFFFF;

        &:first-child {
            border-left: 1px solid #FFFFFF;
        }
        h3 {
            font-size: 64px;
            font-weight: 700;
        }
        h4 {
            font-weight: 400;
            text-transform: none;
            margin-top: 20px;
            margin-bottom: 50px;
        }
    }
}
.worck-service-section {
    margin-top: 100px;

    .service-content {
        margin-top: 80px;
        margin-bottom: 90px;
        display: grid;
        justify-content: space-between;
        row-gap: 148px;
        grid-template-columns: repeat(3, 32%);
        grid-template-rows: 1fr 1fr;

        h5 {
            text-align: start;
        }
        .service-1, .service-2, .service-3, .service-4, .service-5, .service-6 {
            display: flex;

            div {
                margin-left: 20px;
            }
            img {
                width: 20%;
                height: 50%;
            }
        }
}
}
.unique-section {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0; right: 0; top: 0; bottom: 0;
        z-index: -2;    
        background-image: url(../img/unique-design/background-image.svg);
        background-size: cover;
        background-position: center;
        filter: opacity(20%)
    }

    .devices {
        margin-top: 55px;
        margin-bottom: 57px;
        position: relative;

        .tablet-image {
            position: absolute;
            z-index: -1;
            top: 20px; left: 255px;
        }
        .tablet-frame {
            position: relative;
        }
        .phone-image {
            position: absolute;
            z-index: 1;
            top: 215px; right: 208px;
        }
        .phone-frame {
            position: absolute;
            z-index: 2;
            top: 210px; right: 200px;
        }
    }
}
.service-section {
    margin-top: 100px;

    .service-box {
        margin-top: 80px;
        margin-bottom: 114px;
        display: flex;

        .box {
            width: 570px;
            height: 483px;
            border: 2px solid red;
        }
    }
}
.comment {
    background-color: $white-color;
    height: 254px;
}
.our-team-section {
    margin-top: 100px;

    .team-box {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 100px;
        @extend %display-flex-center;
        justify-content: space-between;

        h4, h5 {
            text-transform: uppercase;
            text-align: center;
            margin-top: 30px;
        }
    }
}
.partner-section {
    flex-direction: row;
    justify-content: space-between;
    background-color: $white-color;
    height: 211px;
}
.some-work-section {
    margin-top: 100px;

    .some-work {
        margin-top: 80px;
        display: grid;
        grid-template-areas:
            "work-1 work-2 work-3 work-4"
            "work-5 work-6 work-3 work-7";
        .work-1 {
            grid-area: work-1;
        }
        .work-2 {
            grid-area: work-2;
        }    
        .work-3 {
            grid-area: work-3;
        }    
        .work-4 {
            grid-area: work-4;
        }    
        .work-5 {
            grid-area: work-5;
        }    
        .work-6 {
            grid-area: work-6;
        }    
        .work-7 {
            grid-area: work-7;
        }    

            
                        
        // grid-template-columns: 1fr 1fr 1fr 1fr;
        // grid-template-rows: 1fr 1fr;

    }
}
.comment-2 {
    height: 254px;
    padding: 84px 170px;
}
.clients-section {
    position: relative;

    h2 {
        margin-top: 70px;
    }
    .clients-box {
        margin-top: 80px;
        margin-bottom: 90px;
        display: grid;
        justify-content: space-between;
        gap: 40px 50px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    &::after {
        content: '';
        position: absolute;
        left: 0; right: 0; top: 0; bottom: 0;
        z-index: -2;    
        background-image: url(../img/clients/background-clients.svg);
        background-size: cover;
        background-position: center;
        filter: opacity(10%);
    }
    .client-1, .client-2, .client-3, .client-4 {
        display: flex;

        .red-line {
            width: 70px;
            margin: 30px 0 50px 0;
            justify-self: flex-start;
        }
        h5 {
            text-align: start;
            text-transform: uppercase;
            margin-top: 10px;
        }
        h6 {
            font-size: 18px;
        }
        div {
            margin-left: 50px;
        }
        img {
            width: 130px;
            height: 130px;
            margin-left: 20px;
        }
    }
}
.latest-blog-1 {
    margin-top: 100px;

    .blog-box {
        width: 100%;
        margin-top: 42px;
        margin-bottom: 80px;
        @extend %display-flex-center;
        justify-content: space-between;

        div {
            width: 370px;
        }
        h4, h5 {
            text-align: start;
        }
        h4 {
            margin-top: 30px;
            margin-bottom: 10px;
        }
        .watch-comment {
            display: flex;
            margin-top: 30px;

            h6 {
                margin-left: 18px;
                margin-right: 50px;
                @extend %display-flex-center;
            }
        }
    }
}
.latest-blog-2 {
    position: relative;

    img {
        margin-top: 46px;
    }
    h3 {
        margin-top: 20px;
        color: $pink-color;
    }
    &::after {
        content: '';
        position: absolute;
        left: 0; right: 0; top: 0; bottom: 0;
        z-index: -2;    
        background-image: url(../img/latest-blog-background.svg);
        background-size: cover;
        background-position: center;
        filter: opacity(10%);
    }
}