@charset "UTF-8";
@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Kaushan_Script";
  src: url(../fonts/Kaushan_Script/KaushanScript-Regular.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
}

.footer-h6, .latest-blog-1 .blog-box .watch-comment h6, .latest-blog-1 .blog-box .blog .latest-data, .latest-blog-1 .blog-box, .some-work-section .some-work .work-1 .button-work, .some-work-section .some-work .work-2 .button-work, .some-work-section .some-work .work-3 .button-work, .some-work-section .some-work .work-4 .button-work, .some-work-section .some-work .work-5 .button-work, .some-work-section .some-work .work-6 .button-work, .some-work-section .some-work .work-7 .button-work, .our-team-section .team-box .our-team-1 .button-links .facebook-icon, .our-team-section .team-box .our-team-1 .button-links .twitter-icon, .our-team-section .team-box .our-team-1 .button-links .pinterest-icon, .our-team-section .team-box .our-team-1 .button-links .instagram-icon, .our-team-section .team-box .our-team-2 .button-links .facebook-icon, .our-team-section .team-box .our-team-2 .button-links .twitter-icon, .our-team-section .team-box .our-team-2 .button-links .pinterest-icon, .our-team-section .team-box .our-team-2 .button-links .instagram-icon, .our-team-section .team-box .our-team-3 .button-links .facebook-icon, .our-team-section .team-box .our-team-3 .button-links .twitter-icon, .our-team-section .team-box .our-team-3 .button-links .pinterest-icon, .our-team-section .team-box .our-team-3 .button-links .instagram-icon, .our-team-section .team-box .our-team-1 .button-links, .our-team-section .team-box .our-team-2 .button-links, .our-team-section .team-box .our-team-3 .button-links, .our-team-section .team-box, .service-section .service-box .acor-container label, .number-section div, .story-section .story-img, .banner .banner-slider .slider-1, .banner .banner-slider .slider-2, .banner .banner-slider .slider-3, .banner .banner-slider .slider-4, .banner .banner-slider, .banner .banner-content, .banner, .story-section, .number-section, .worck-service-section, .unique-section, .service-section, .our-team-section, .partner-section, .some-work-section, .clients-section, .latest-blog-1, .latest-blog-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 7px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: #F5F5F5;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #95E1D3;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #F38281;
}

h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 144px;
  line-height: 175.54px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-family: "Kaushan_Script";
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
}

h3 {
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  margin-top: 45px;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

h5 {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

h6 {
  font-size: 13px;
  font-weight: 400;
}

ul, li {
  list-style: none;
}

.red-line {
  width: 170px;
  border-top: 4px solid #F38281;
  margin: 45px 0;
}

.banner, .story-section, .number-section, .worck-service-section, .unique-section, .service-section, .our-team-section, .partner-section, .some-work-section, .clients-section, .latest-blog-1, .latest-blog-2 {
  padding: 0 170px;
  flex-direction: column;
}

.header_navbar {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
.header_navbar .navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(225, 135, 131, 0.9);
  height: 100px;
}
.header_navbar .navbar_menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.header_navbar .navbar_menu img {
  margin-left: 34px;
}
.header_navbar .navbar_menu img:hover {
  cursor: pointer;
}
.header_navbar .navbar_menu a {
  text-decoration: none;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 60px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  position: relative;
}
.header_navbar .navbar_menu a::before {
  content: "";
  position: absolute;
  top: 63px;
  width: 85px;
  height: 2px;
  background-color: #F4BF87;
  transform-origin: right;
  transform: scale(0);
  transition: transform 0.5s;
}
.header_navbar .navbar_menu a:hover::before {
  transform-origin: left;
  transform: scale(1);
}
.header_navbar .navbar_menu a:hover {
  color: #F4BF87;
}

.banner {
  height: 100vh;
  width: 100%;
  margin-right: 15px;
  color: #FFFFFF;
  position: relative;
}
.banner::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-image: linear-gradient(360deg, rgba(237, 215, 137, 0.9), rgba(233, 130, 131, 0.9)), url(../img/eagle.svg);
  background-size: cover;
  background-position: center;
}
.banner h2 {
  font-size: 64px;
  margin-top: 0;
}
.banner h3 {
  font-weight: 700;
  margin-top: 0;
}
.banner .banner-content {
  flex-direction: column;
}
.banner .white-line {
  width: 170px;
  border-top: 4px solid #FFFFFF;
  margin-top: 44px;
}
.banner button {
  height: 80px;
  width: 370px;
  background-color: transparent;
  border: 4px solid #FFFFFF;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  margin-top: 74px;
}
.banner button:hover {
  background-color: #FFFFFF;
  color: #E4BE8D;
  cursor: pointer;
}
.banner button:active {
  border-color: #E4BE8D;
}
.banner .banner-slider {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: space-between;
  padding: 0 170px;
  text-transform: uppercase;
}
.banner .banner-slider .slider-1, .banner .banner-slider .slider-2, .banner .banner-slider .slider-3, .banner .banner-slider .slider-4 {
  min-width: 270px;
  height: 85px;
  justify-content: flex-start;
}
.banner .banner-slider .slider-1 h5, .banner .banner-slider .slider-2 h5, .banner .banner-slider .slider-3 h5, .banner .banner-slider .slider-4 h5 {
  margin-top: 12px;
  margin-left: 5px;
}
.banner .banner-slider .slider-1 {
  border-top: 4px solid #FFFFFF;
}
.banner .banner-slider .slider-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 170px;
  width: 70px;
  border-top: 4px solid #F38281;
}
.banner .banner-slider .slider-2, .banner .banner-slider .slider-3, .banner .banner-slider .slider-4 {
  border-top: 4px solid #F9EFCF;
  color: #F9EFCF;
}

.story-section .story-img {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 100px;
  justify-content: space-between;
  position: relative;
}
.story-section .super-team-1, .story-section .super-team-2, .story-section .super-team-3 {
  position: relative;
  width: 370px;
  height: 100%;
}
.story-section .super-team-1 .button, .story-section .super-team-2 .button, .story-section .super-team-3 .button {
  position: absolute;
  top: -16px;
  left: -16px;
  right: 16px;
  bottom: 16px;
  background-image: linear-gradient(360deg, rgba(237, 215, 137, 0.9), rgba(233, 130, 131, 0.9));
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.story-section .super-team-1 .button:hover, .story-section .super-team-2 .button:hover, .story-section .super-team-3 .button:hover {
  cursor: pointer;
  opacity: 1;
}
.story-section .super-team-1 .button img, .story-section .super-team-2 .button img, .story-section .super-team-3 .button img {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 45%;
  top: 35%;
}
.story-section .super-team-1 h4, .story-section .super-team-2 h4, .story-section .super-team-3 h4 {
  font-weight: 500;
  position: absolute;
  width: 100%;
  top: 55%;
  left: 0;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.story-section img {
  width: 370px;
  height: 100%;
}

.number-section {
  flex-direction: row;
  background-color: #95E1D3;
}
.number-section div {
  width: 20%;
  border-right: 1px solid #FFFFFF;
  flex-direction: column;
  color: #FFFFFF;
}
.number-section div:first-child {
  border-left: 1px solid #FFFFFF;
}
.number-section div h3 {
  font-size: 64px;
  font-weight: 700;
}
.number-section div h4 {
  font-weight: 400;
  text-transform: none;
  margin-top: 20px;
  margin-bottom: 50px;
}

.worck-service-section .service-content {
  margin-top: 80px;
  margin-bottom: 90px;
  display: grid;
  justify-content: space-between;
  row-gap: 148px;
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: 1fr 1fr;
}
.worck-service-section .service-content h5 {
  text-align: start;
  margin-top: 30px;
}
.worck-service-section .service-content .service-1, .worck-service-section .service-content .service-2, .worck-service-section .service-content .service-3, .worck-service-section .service-content .service-4, .worck-service-section .service-content .service-5, .worck-service-section .service-content .service-6 {
  display: flex;
}
.worck-service-section .service-content .service-1 div, .worck-service-section .service-content .service-2 div, .worck-service-section .service-content .service-3 div, .worck-service-section .service-content .service-4 div, .worck-service-section .service-content .service-5 div, .worck-service-section .service-content .service-6 div {
  margin-left: 20px;
}
.worck-service-section .service-content .service-1 img, .worck-service-section .service-content .service-2 img, .worck-service-section .service-content .service-3 img, .worck-service-section .service-content .service-4 img, .worck-service-section .service-content .service-5 img, .worck-service-section .service-content .service-6 img {
  width: 20%;
  height: 50%;
}

.unique-section {
  position: relative;
}
.unique-section::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
  background-image: url(../img/unique-design/background-image.svg);
  background-size: cover;
  background-position: center;
  filter: opacity(20%);
}
.unique-section .devices {
  margin-top: 55px;
  margin-bottom: 57px;
  position: relative;
}
.unique-section .devices .tablet-image {
  position: absolute;
  z-index: -1;
  top: 20px;
  left: 255px;
}
.unique-section .devices .tablet-frame {
  position: relative;
}
.unique-section .devices .phone-image {
  position: absolute;
  z-index: 1;
  top: 215px;
  right: 208px;
}
.unique-section .devices .phone-frame {
  position: absolute;
  z-index: 2;
  top: 210px;
  right: 200px;
}

.service-section .service-box {
  margin-top: 80px;
  margin-bottom: 114px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 483px;
}
.service-section .service-box .acor-container {
  width: 570px;
  height: 100%;
}
.service-section .service-box .acor-container .acor-body {
  width: 100%;
  height: 0;
  line-height: 18px;
  padding-right: 54px;
  transition: padding 0.5s;
  overflow: auto;
  margin-bottom: 22px;
  transition: 0.25s;
}
.service-section .service-box .acor-container .acor-body h5 {
  text-align: start;
  line-height: 21.13px;
}
.service-section .service-box .acor-container label {
  cursor: pointer;
  text-transform: uppercase;
  justify-content: space-between;
  z-index: 1;
  border: 1px solid #C6CBCD;
  width: 100%;
  height: 92px;
  font-weight: 700;
  font-size: 24px;
  padding: 12px 20px 12px 10px;
  transition: color 0.35s;
}
.service-section .service-box .acor-container label::after {
  content: url(../icons/comment-arrow-left.svg);
  float: right;
  margin-left: 220px;
  color: #C6CBCD;
  transform: rotate(-90deg);
}
.service-section .service-box .acor-container input {
  display: none;
}
.service-section .service-box .acor-container input:checked + label::after {
  transition: transform 0.35s;
  transform: rotate(90deg);
}
.service-section .service-box .acor-container input:checked + label + .acor-body {
  height: 163px;
  border: 17px solid #FFFFFF;
  outline: 1px solid #C6CBCD;
  outline-offset: -1px;
  box-sizing: border-box;
  overflow: auto;
}

.comment, .comment-2 {
  background-color: #F8F8F8;
  display: flex;
  padding: 42px 170px;
}
.comment .comment-box, .comment-2 .comment-box {
  display: flex;
  position: relative;
}
.comment .comment-box img, .comment-2 .comment-box img {
  margin-left: 45px;
}
.comment .comment-box::before, .comment-2 .comment-box::before {
  content: url(../icons/comment-arrow-left.svg);
  position: relative;
  top: 70px;
}
.comment .comment-box::after, .comment-2 .comment-box::after {
  content: url(../icons/comment-arrow-right.svg);
  position: relative;
  top: 70px;
}
.comment .comment-box:hover::before, .comment .comment-box:hover::after, .comment-2 .comment-box:hover::before, .comment-2 .comment-box:hover::after {
  cursor: pointer;
}
.comment .comment-content, .comment-2 .comment-content {
  margin-left: 30px;
  margin-right: 60px;
}
.comment h2, .comment-2 h2 {
  margin: 0;
}
.comment h4, .comment-2 h4 {
  color: #A9AFB1;
  text-transform: none;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 25px;
}
.comment .red-line, .comment-2 .red-line {
  width: 70px;
  margin: 0 56px 0 0;
}
.comment .red-line-name, .comment-2 .red-line-name {
  display: flex;
  align-items: center;
}

.our-team-section .team-box {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 100px;
  justify-content: space-between;
}
.our-team-section .team-box .our-team-1, .our-team-section .team-box .our-team-2, .our-team-section .team-box .our-team-3 {
  position: relative;
  width: 370px;
  height: 100%;
}
.our-team-section .team-box .our-team-1 .button-links, .our-team-section .team-box .our-team-2 .button-links, .our-team-section .team-box .our-team-3 .button-links {
  position: absolute;
  top: -16px;
  left: -16px;
  right: 16px;
  bottom: 16px;
  background-image: linear-gradient(360deg, rgba(237, 215, 137, 0.9), rgba(233, 130, 131, 0.9));
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.our-team-section .team-box .our-team-1 .button-links:hover, .our-team-section .team-box .our-team-2 .button-links:hover, .our-team-section .team-box .our-team-3 .button-links:hover {
  opacity: 1;
}
.our-team-section .team-box .our-team-1 .button-links .facebook-icon, .our-team-section .team-box .our-team-1 .button-links .twitter-icon, .our-team-section .team-box .our-team-1 .button-links .pinterest-icon, .our-team-section .team-box .our-team-1 .button-links .instagram-icon, .our-team-section .team-box .our-team-2 .button-links .facebook-icon, .our-team-section .team-box .our-team-2 .button-links .twitter-icon, .our-team-section .team-box .our-team-2 .button-links .pinterest-icon, .our-team-section .team-box .our-team-2 .button-links .instagram-icon, .our-team-section .team-box .our-team-3 .button-links .facebook-icon, .our-team-section .team-box .our-team-3 .button-links .twitter-icon, .our-team-section .team-box .our-team-3 .button-links .pinterest-icon, .our-team-section .team-box .our-team-3 .button-links .instagram-icon {
  width: 42px;
  height: 42px;
  background-color: #F9EFCF;
  margin-right: 1px;
}
.our-team-section .team-box .our-team-1 .button-links .facebook-icon:hover, .our-team-section .team-box .our-team-1 .button-links .twitter-icon:hover, .our-team-section .team-box .our-team-1 .button-links .pinterest-icon:hover, .our-team-section .team-box .our-team-1 .button-links .instagram-icon:hover, .our-team-section .team-box .our-team-2 .button-links .facebook-icon:hover, .our-team-section .team-box .our-team-2 .button-links .twitter-icon:hover, .our-team-section .team-box .our-team-2 .button-links .pinterest-icon:hover, .our-team-section .team-box .our-team-2 .button-links .instagram-icon:hover, .our-team-section .team-box .our-team-3 .button-links .facebook-icon:hover, .our-team-section .team-box .our-team-3 .button-links .twitter-icon:hover, .our-team-section .team-box .our-team-3 .button-links .pinterest-icon:hover, .our-team-section .team-box .our-team-3 .button-links .instagram-icon:hover {
  cursor: pointer;
}
.our-team-section .team-box .our-team-1 .button-links .facebook-icon, .our-team-section .team-box .our-team-2 .button-links .facebook-icon, .our-team-section .team-box .our-team-3 .button-links .facebook-icon {
  background-color: #F38281;
}
.our-team-section .team-box h4, .our-team-section .team-box h5 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
}

.partner-section {
  flex-direction: row;
  justify-content: space-between;
  background-color: #F8F8F8;
  height: 211px;
}
.partner-section img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
}

.some-work-section .some-work {
  margin-top: 80px;
  display: grid;
  grid-template-areas: "work-1 work-2 work-3 work-4" "work-5 work-6 work-3 work-7";
  position: relative;
}
.some-work-section .some-work .work-1, .some-work-section .some-work .work-2, .some-work-section .some-work .work-3, .some-work-section .some-work .work-4, .some-work-section .some-work .work-5, .some-work-section .some-work .work-6, .some-work-section .some-work .work-7 {
  position: relative;
  height: auto;
}
.some-work-section .some-work .work-1 img:first-child, .some-work-section .some-work .work-2 img:first-child, .some-work-section .some-work .work-3 img:first-child, .some-work-section .some-work .work-4 img:first-child, .some-work-section .some-work .work-5 img:first-child, .some-work-section .some-work .work-6 img:first-child, .some-work-section .some-work .work-7 img:first-child {
  height: 100%;
}
.some-work-section .some-work .work-1 .button-work, .some-work-section .some-work .work-2 .button-work, .some-work-section .some-work .work-3 .button-work, .some-work-section .some-work .work-4 .button-work, .some-work-section .some-work .work-5 .button-work, .some-work-section .some-work .work-6 .button-work, .some-work-section .some-work .work-7 .button-work {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(360deg, rgba(237, 215, 137, 0.9), rgba(233, 130, 131, 0.9));
  opacity: 0;
  transition: all 0.4s ease-in-out;
  flex-direction: column;
  color: #FFFFFF;
}
.some-work-section .some-work .work-1 .button-work img, .some-work-section .some-work .work-2 .button-work img, .some-work-section .some-work .work-3 .button-work img, .some-work-section .some-work .work-4 .button-work img, .some-work-section .some-work .work-5 .button-work img, .some-work-section .some-work .work-6 .button-work img, .some-work-section .some-work .work-7 .button-work img {
  height: 42px;
}
.some-work-section .some-work .work-1 .button-work h4, .some-work-section .some-work .work-2 .button-work h4, .some-work-section .some-work .work-3 .button-work h4, .some-work-section .some-work .work-4 .button-work h4, .some-work-section .some-work .work-5 .button-work h4, .some-work-section .some-work .work-6 .button-work h4, .some-work-section .some-work .work-7 .button-work h4 {
  margin-top: 60px;
  margin-bottom: 20px;
}
.some-work-section .some-work .work-1 .button-work:hover, .some-work-section .some-work .work-2 .button-work:hover, .some-work-section .some-work .work-3 .button-work:hover, .some-work-section .some-work .work-4 .button-work:hover, .some-work-section .some-work .work-5 .button-work:hover, .some-work-section .some-work .work-6 .button-work:hover, .some-work-section .some-work .work-7 .button-work:hover {
  opacity: 1;
  cursor: pointer;
}
.some-work-section .some-work .work-1 {
  grid-area: work-1;
}
.some-work-section .some-work .work-2 {
  grid-area: work-2;
}
.some-work-section .some-work .work-3 {
  grid-area: work-3;
}
.some-work-section .some-work .work-4 {
  grid-area: work-4;
}
.some-work-section .some-work .work-5 {
  grid-area: work-5;
}
.some-work-section .some-work .work-6 {
  grid-area: work-6;
}
.some-work-section .some-work .work-7 {
  grid-area: work-7;
}

.comment-2 {
  background-color: #FFFFFF;
  padding: 127px 170px;
}

.clients-section {
  position: relative;
}
.clients-section .clients-box {
  margin-top: 80px;
  margin-bottom: 90px;
  display: grid;
  justify-content: space-between;
  gap: 40px 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.clients-section::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
  background-image: url(../img/clients/background-clients.svg);
  background-size: cover;
  background-position: center;
  filter: opacity(10%);
}
.clients-section .client-1, .clients-section .client-2, .clients-section .client-3, .clients-section .client-4 {
  display: flex;
}
.clients-section .client-1:hover, .clients-section .client-2:hover, .clients-section .client-3:hover, .clients-section .client-4:hover {
  cursor: pointer;
  background-color: #C6CBCD;
  transition: 0.35s ease;
}
.clients-section .client-1 .red-line, .clients-section .client-2 .red-line, .clients-section .client-3 .red-line, .clients-section .client-4 .red-line {
  width: 70px;
  margin: 30px 0 50px 0;
  justify-self: flex-start;
}
.clients-section .client-1 h5, .clients-section .client-2 h5, .clients-section .client-3 h5, .clients-section .client-4 h5 {
  text-align: start;
  text-transform: uppercase;
  margin-top: 10px;
}
.clients-section .client-1 h6, .clients-section .client-2 h6, .clients-section .client-3 h6, .clients-section .client-4 h6 {
  font-size: 18px;
}
.clients-section .client-1 div, .clients-section .client-2 div, .clients-section .client-3 div, .clients-section .client-4 div {
  margin-left: 50px;
}
.clients-section .client-1 img, .clients-section .client-2 img, .clients-section .client-3 img, .clients-section .client-4 img {
  width: 130px;
  height: 130px;
  margin-left: 20px;
}

.latest-blog-1 .blog-box {
  width: 100%;
  margin-top: 42px;
  margin-bottom: 80px;
  justify-content: space-between;
}
.latest-blog-1 .blog-box .blog {
  width: 370px;
  position: relative;
}
.latest-blog-1 .blog-box .blog img:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.35s ease;
}
.latest-blog-1 .blog-box .blog .latest-data {
  position: absolute;
  top: 148px;
  left: -14px;
  z-index: 1;
  width: 80px;
  height: 80px;
  background-color: #95E1D3;
  color: #FFFFFF;
  flex-direction: column;
}
.latest-blog-1 .blog-box .blog .latest-data h3 {
  margin: 0;
  font-weight: 700;
}
.latest-blog-1 .blog-box .blog .latest-data h5 {
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}
.latest-blog-1 .blog-box h4, .latest-blog-1 .blog-box h5 {
  text-align: start;
}
.latest-blog-1 .blog-box h4 {
  margin-top: 30px;
  margin-bottom: 10px;
}
.latest-blog-1 .blog-box .watch-comment {
  display: flex;
  margin-top: 30px;
}
.latest-blog-1 .blog-box .watch-comment h6 {
  margin-left: 18px;
  margin-right: 50px;
}
.latest-blog-1 .blog-box .watch-comment img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.latest-blog-2 {
  position: relative;
}
.latest-blog-2 img {
  margin-top: 46px;
}
.latest-blog-2 h3 {
  margin-top: 20px;
  color: #F38281;
}
.latest-blog-2::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
  background-image: url(../img/latest-blog-background.svg);
  background-size: cover;
  background-position: center;
  filter: opacity(10%);
}

.footer {
  background-color: #F8F8F8;
  display: flex;
  justify-content: space-between;
  padding: 42px 170px;
}
.footer .logo-footer-section {
  width: 370px;
}
.footer .logo-footer-section > h5 {
  padding: 10px 0;
  text-align: start;
  color: #C6CBCD;
}
.footer .logo-footer-section .followers {
  border-bottom: 1px solid #C6CBCD;
  display: flex;
  padding: 20px 0;
  display: flex;
  align-items: center;
}
.footer .logo-footer-section .followers h3 {
  margin: 0;
  line-height: 30px;
}
.footer .logo-footer-section .followers h5 {
  text-transform: uppercase;
  margin: 0;
  font-style: italic;
}
.footer .logo-footer-section .followers span {
  font-weight: 700;
}
.footer .logo-footer-section .footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 50px;
}
.footer .logo-footer-section .footer-links .links {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.footer .logo-footer-section .footer-links h6 {
  font-style: italic;
  color: #C6CBCD;
}
.footer .logo-footer-section .footer-links img:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.footer .logo-footer-section form {
  position: relative;
}
.footer .logo-footer-section form input[type=email] {
  outline: none;
  border: 1px solid #C6CBCD;
  width: 100%;
  height: 55px;
  background: #fff;
  font-size: 18px;
  padding-right: 35%;
  text-align: center;
}
.footer .logo-footer-section form input[type=email]::placeholder {
  color: #C6CBCD;
  font-family: "Raleway";
  font-size: 18px;
  text-align: center;
}
.footer .logo-footer-section form button[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 35%;
  z-index: 1;
  outline: none;
  border: none;
  background-color: #95E1D3;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}
.footer .logo-footer-section form button[type=submit]:hover {
  background-color: #87D2C4;
}
.footer .logo-footer-section form button[type=submit]:active {
  background-color: #5C958A;
}
.footer .blogs-section {
  width: 468px;
}
.footer .blogs-section h4 {
  padding: 38px 0;
}
.footer .blogs-section .blogs {
  display: grid;
  grid-template-columns: 3fr 5fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 30px;
}
.footer .blogs-section .blogs .blogs-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .blogs-section .blogs .blogs-text:hover, .footer .blogs-section .blogs img:hover {
  cursor: pointer;
}
.footer .blogs-section .blogs h5 {
  text-transform: uppercase;
  font-weight: 700;
  text-align: start;
}
.footer .instagram-section {
  width: 270px;
  display: flex;
  flex-direction: column;
}
.footer .instagram-section h4 {
  padding: 38px 0;
}
.footer .instagram-section h6 {
  text-transform: uppercase;
  padding: 40px 0;
}
.footer .instagram-section .instagram {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.footer .instagram-section .instagram img:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.35s ease;
}

.footer-h6 {
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 0;
  border-top: 1px solid #C6CBCD;
  margin: 0 170px;
}